@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/* text of note names on y-axis */
.y-axis-text {
  font-family: "PT Sans", sans-serif;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, select {
  font-family: "PT Sans", sans-serif;
}

#menu-bar {
  font-family: "PT Sans", sans-serif;
}