
/* text of note names on y-axis */
.y-axis-text {
  font-family: sans-serif;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  font-size: 1em;
}